
.icon-user:before { content: '\e800'; } /* '' */
.icon-power:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-back-in-time:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-right-big:before { content: '\e806'; } /* '' */
.icon-left-big:before { content: '\e807'; } /* '' */
.icon-tag:before { content: '\e808'; } /* '' */
.icon-wrench:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-check:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-down-dir:before { content: '\e80d'; } /* '' */
.icon-up-dir:before { content: '\e80e'; } /* '' */
.icon-pencil:before { content: '\e80f'; } /* '' */
.icon-cog-alt:before { content: '\e810'; } /* '' */
.icon-key:before { content: '\e811'; } /* '' */
.icon-th-list:before { content: '\e812'; } /* '' */
.icon-users:before { content: '\e813'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-superpowers:before { content: '\f2dd'; } /* '' */
